{% extends 'ClsSiteBundle::layout.html.twig' %}

{% block content %}
<section class="content">
  <div class="default-block center clearfix content-wrapper">
    <section class="subitem inner">
      <h1>Orçamento</h1>
      <p>Obrigado por confiar em nosso trabalho! O objetivo do questionário é ajudar-nos a conhecer o seu projeto. E com isso gerar um orçamento coerente.</p>

      <form class="form-estimate" action="{{ path('cls_estimate_create') }}" method="POST" enctype="multipart/form-data">
        <div class="fields fields-left">
          {{ form_widget(form.name, {'attr': {'placeholder': 'Nome'}}) }}
          {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
          {{ form_widget(form.phone, {'attr': {'placeholder': 'Telefone'}}) }}
          {{ form_widget(form.file, {'attr': {'placeholder': 'Anexo'}}) }}
        </div>
        <div class="fields">
          {{ form_widget(form.description, {'attr': {'placeholder': 'Descrição/Observação'}}) }}
          {{ form_rest(form) }}
          <input type="submit" value="Enviar" >
        </div>
      </form>

      <div class="form-errors">
        {{ form_errors(form) }}
      </div>
    </section>

    <section class="equipment inner">
      <h2>Equipamentos</h2>
      <img src="{{ asset('bundles/clssite/images/equipamentos_2.jpg') }}" alt="Equipamento cls">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, labore, reprehenderit ducimus vitae beatae impedit quisquam ratione repudiandae magni ullam hic assumenda nisi cumque nesciunt accusamus praesentium id a rerum.</p>
    </section>
  </div>
</section>
{% endblock %}