{% extends 'ClsSiteBundle::layout.html.twig' %}

{% block image_separator %}
  <img class="img-separator" src="{{ asset('bundles/clssite/images/maincall_2.jpg') }}" alt="Projetos de alta qualidade industrial" />
{% endblock %}

{% block content %}
<section class="content">
  <div class="default-block center clearfix content-wrapper">
    <section class="subitem inner">
      <h1>Serviços realizados</h1>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/ergonomia-instalacao-pincas.jpg') }}" 
            alt="Ergonomia e instalação de pinças" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagem_de_células_robotizadas_fotos__1.jpg') }}" 
            alt="Montagem de células robotizadas" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagem_de_células_robotizadas_fotos__2.jpg') }}" 
            alt="Montagem de células robotizadas" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagem_de_Estrutura_Metálica.jpg') }}" 
            alt="Montagem de estrutura metálica" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagem__de_estruturas.jpg') }}" 
            alt="Montagem de estruturas" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagem_de_KBK´s_Pinças_e_balancinhos_foto_1.jpg') }}" 
            alt="Montagem de KBK's, pinças e balancinhos" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagem_de_mesas_transportadoras.jpg') }}" 
            alt="Montagem de mesas transportadoras" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagem_de_monovias.jpg') }}" 
            alt="Montagem de monovias" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Montagens__e_fabricação_de_Grades_seguranças.jpg') }}" 
            alt="Montagem e fabricação de grades e seguranças" data-src="holder.js/260x180">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="{{ asset('bundles/clssite/images/Carrinhos_automáticos.jpg') }}" 
            alt="Carrinhos automáticos" data-src="holder.js/260x180">
          </a>
        </li>
      </ul>
    </section>

    <section class="equipment inner">
      {{ render(url('cls_equipment_list')) }}
    </section>
  </div>
</section>
{% endblock %}