<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    {% block title %}<title>CLS Montagens Industriais</title>{% endblock %}
    <meta charset="utf-8">
    {% block stylesheets %}
      {% stylesheets 'bundles/clssite/css/*.css' 'bundles/clssite/css/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
      {% endstylesheets %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-wrapper default-block center">
        <a class="logo-anchor" href="{{ path('cls_home') }}">
          <img src="{{ asset('bundles/clssite/images/marca.jpg') }}" alt="CLS Montagens industriais" class="logo">
        </a>
        <nav class="main-menu">
          <ul class="menu-ul">
            <li><a class="first" href="{{ path('cls_home') }}">Home</a></li>
            <li><a href="{{ path('cls_institutional') }}" rel="empresa">Empresa</a></li>
            <li><a href="{{ path('cls_services') }}" rel="servicos">Serviços</a></li>
            <li><a href="{{ path('cls_estimate') }}" rel="orcamento">Orçamento</a></li>
            <li><a class="last" href="{{ path('cls_contact') }}" rel="fale-conosco">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {% block image_separator %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
      <section class="upper-footer">
        <div class="upper-footer-content default-block center clearfix">
          <div class="upper-item first">
            <h3>Depoimentos</h3>
            <span class="left-arrow"></span>
            <span class="right-arrow"></span>
            <p>“Simply dummy text of the printing 
typesetting industry. Lorem Ipsum has 
been the industry”  <strong>Steve Jobs</strong></p>
          </div>
          <img class="image-left" src="{{ asset('bundles/clssite/images/filete.jpg') }}">
          <div class="upper-item middle">
            <h3>Clientes</h3>
            <span class="left-arrow"></span>
            <span class="right-arrow"></span>
            <img src="" alt="">
          </div>
          <img class="image-left" src="{{ asset('bundles/clssite/images/filete.jpg') }}">
          <div class="upper-item last">
            <h3>Webmail</h3>
            <a href="#">Link para webmail</a>
          </div>
        </div>
      </section>

      <section class="lower-footer">
        <div class="default-block center clearfix">
          <p class="left-text">Todos os direitos reservados</p>
          <p class="right-text">Av. Dos Mineiros, 107 Belmonte Volta Redonda/RJ - CEP 27273-200</p>
        </div>
      </section>
    </footer>
    {% block javascripts %}
      {% javascripts 'bundles/clssite/js/*.js' output='compiled/compiled.js' %}
        <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
  </body>
</html>